/* ==========================================================================
   Imports
   ========================================================================== */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

:root {
    --primary-color: #ff7300;
    --secondary-color: #008cff;
    --success-color: #31B676;
    --info-color: #0dcaf0;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #212926;
}

html {
    scroll-behavior: smooth;
    color: var(--dark-color);
}

body {
    background: linear-gradient(to bottom, var(--secondary-color) 0%, var(--primary-color) 100%) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100vw 100vh !important;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

.mt-15 {
    margin-top: 15vh;
}

.primary-text {
    color: var(--primary-color);
}

.text-shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.custom-navbar {
    background: linear-gradient(35deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.5) 100%) !important;
    margin: 1rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 5rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
}

.btn-glass {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
}

.btn-glass:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.card-glass {
    background: linear-gradient(35deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.5) 100%) !important;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    backdrop-filter: blur(8px);
}

.input {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    color: white;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    outline-color: white !important;
}

.input:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
    outline-color: white !important;
}

.input:focus {
    border: 2px solid rgba(255, 255, 255, 0.6) !important;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
    -webkit-tap-highlight-color: white !important;
    outline-color: white !important;
}

.input::placeholder {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

input::-webkit-file-upload-button {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    outline-color: white !important;
}

input::-webkit-file-upload-button:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

input::file-selector-button {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    outline-color: white !important;
}

input::file-selector-button:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

select {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    outline-color: white !important;
}

a.card-glass {
    transition: all 0.3s ease-in-out;
}

a.card-glass:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

a.card-glass h4 {
    transition: all 0.3s ease-in-out;
}

a.card-glass:hover h4 {
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
}

.table-container {
    width: 100vw;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

/* ==========================================================================
   Radius Table
   ========================================================================== */

.glass-table {
    background: linear-gradient(30deg, rgba(42, 42, 42, 0.3), rgba(42, 42, 42, 0.1), rgba(42, 42, 42, 0.2), rgba(42, 42, 42, 0.1), rgba(42, 42, 42, 0.3)) !important;
    width: 100% !important;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto !important;
    box-shadow: 0 4px 24px rgba(255, 255, 255, 0.12), 0 1.5px 8px rgba(0, 0, 0, 0.18) !important;
    backdrop-filter: blur(16px) !important;
    -webkit-backdrop-filter: blur(16px) !important;
    color: #e0e0e0 !important;
    border-radius: 1rem !important;
}

.table th,
.glass-table th {
    background: rgba(30, 30, 30, 0.45);
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 1rem !important;
}

.glass-table th,
.glass-table td {
    background: rgba(30, 30, 30, 0.45) !important;
    color: #e0e0e0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

thead,
thead tr {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

thead tr th:first-child {
    border-top-left-radius: 1rem !important;
}

thead tr th:last-child {
    border-top-right-radius: 1rem !important;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 1rem !important;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 1rem !important;
}

.table td,
.glass-table td {
    background: rgba(20, 20, 20, 0.25);
    color: #e0e0e0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.glass-table td {
    background: rgba(20, 20, 20, 0.25) !important;
    color: #e0e0e0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
}

/* Remove Bootstrap's default table background */
.glass-table,
.table-hover {
    background: transparent !important;
}

th,
td {
    white-space: normal;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.table-wrapper {
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 20px;
    overflow-x: auto;
}

.btn-glass {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-glass:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.btn-glass-warning {
    background-color: rgba(255, 193, 7, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-glass-warning:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.btn-glass-success {
    background-color: rgba(0, 255, 85, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-glass-success:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.btn-glass-danger {
    background-color: rgba(220, 53, 69, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-glass-danger:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.pagination .page-item .page-link {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 0.25rem;
    transition: all 0.3s ease-in-out;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-item .page-link:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.pagination .page-item.active .page-link {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}

.pagination .page-item.disabled .page-link {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
}

.vh-100-custom {
    min-height: 90vh;
}
